config_version	1.2

snapshot_root	{{ pathToBackupDir }}

cmd_cp		/bin/cp
cmd_rm		/bin/rm
cmd_rsync	/usr/bin/rsync
cmd_logger	/usr/bin/logger

cmd_preexec	/root/preexecMount mount {{ B_MNT }} {{ B_OPT }}
cmd_postexec	/root/preexecMount umount {{ B_MNT }}

retain	daily	5
retain	monthly	6

verbose	2
loglevel	3
logfile	/var/rsnapshot.log

lockfile	/var/run/rsnapshot{{ B_PID }}.pid

# LOCALHOST
backup	{{ B_MNT }}	backup/

