#minutes	hours	dayOfMonth	monthNumber	dayOfWeek
20	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/desktop.conf daily
20	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/desktop.conf monthly

30	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/doc.conf daily
30	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/doc.conf monthly

40	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/mail.conf daily
40	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/mail.conf monthly

50	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/rg.conf daily
50	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.200/rg.conf monthly

55	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.202/desktop.conf daily
55	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.202/desktop.conf monthly

45	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.202/rg.conf daily
45	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.1.202/rg.conf monthly
