config_version	1.2

snapshot_root	/var/sangig_backup/

cmd_cp		/bin/cp
cmd_rm		/bin/rm
cmd_rsync	/usr/bin/rsync
cmd_logger	/usr/bin/logger

cmd_preexec	/root/preexecMount mount {{ sangig06_mnt }} {{ sangig06_opt }}
cmd_postexec /root/postexecUmount umount {{ sangig06_mnt }}

retain	daily	1

verbose	2
loglevel	3
logfile	/var/rsnapshot.log

lockfile	/var/run/rsnapshot.pid

# LOCALHOST
backup	{{ sangig06_mnt }}	backup/

