#minutes	hours	dayOfMonth	monthNumber	dayOfWeek
10	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.2.2.conf daily
20	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_sangig06.conf daily
30	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.2.4.conf daily
40	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.2.5.conf daily
50	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.2.6.conf daily
