#minutes	hours	dayOfMonth	monthNumber	dayOfWeek
0	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_sangig06.conf daily
0	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.2.2.conf daily
0	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.2.5.conf daily
