#minutes	hours	dayOfMonth	monthNumber	dayOfWeek
10	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.2.conf daily
10	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.2.conf monthly
