#minutes	hours	dayOfMonth	monthNumber	dayOfWeek
10	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.2.conf daily
10	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.2.conf monthly
20	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.5/obmen.conf daily
20	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.5/obmen.conf monthly
30	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.5/my_doc.conf daily
30	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.5/my_doc.conf monthly
40	13	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.5/mail_new_2018.conf daily
40	11	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_10.0.3.5/mail_new_2018.conf monthly
10	12	*	*	*	root	/usr/bin/rsnapshot -c /root/rsnapshot_share-ooi.conf daily
10	12	*	*	4	root	/usr/bin/rsnapshot -c /root/rsnapshot_share-ooi.conf monthly
